body{
    background-color: #1f1f1f;
    font-family: Rubik, Georgia, serif !important;
}
    
h1{
    color: #fbf8f8;
}

.indicatorDot{
    width: 30px;
    height: 30px;
    background-color: #ffab56;
    border-radius: 50%;
    position:fixed;
}
