html body{
    background-color: #062c66; 
    background-image: linear-gradient(#3e73c4, #062c66);
    font-family: Rubik, Georgia, serif !important;
    width: 100%;
    position: relative;
    text-align: center;
    background-repeat: no-repeat !important;
}
    
h1{
    font-size: 7rem;
    padding: 0.2rem;
}

h2{
    color: #1f1f1f;
    font-size: 2rem;
}

p{
    font-size: 3rem;
}

.PageText {
    color: #fbf8f8;
    margin-bottom: 100px;
}

.accelPermsButton {
    font-size: 3rem;
    border: none;
    border-radius: 20px;
    padding: 0, 20px;
}